$bg-color: rgba(255, 255, 255, 0.954);
$primary-font: azo-sans-web, sans-serif;

// keyframes

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	animation: #{$str};
}

// Media Queries

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: 1280) {
		@content;
	}
}

@mixin media-2xl {
	@media screen and (min-width: 1536) {
		@content;
	}
}
