@import './config';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: $primary-font;
	background-color: $bg-color;
}

h2 {
	font-size: 1.3rem;
	font-weight: 700;
}

p {
	font-size: 1rem;
	font-weight: 400;
}
